[submodule ".u/jlavin/.vim/bundle/vim-perl"]
	path = .u/jlavin/.vim/bundle/vim-perl
	url = https://github.com/vim-perl/vim-perl.git
[submodule ".u/jlavin/.vim/bundle/alt-ctags"]
	path = .u/jlavin/.vim/bundle/alt-ctags
	url = https://github.com/pbrisbin/vim-alt-ctags.git
[submodule ".vim/bundle/vim-perl"]
	path = .vim/bundle/vim-perl
	url = https://github.com/vim-perl/vim-perl.git
[submodule ".vim/bundle/alt-ctags"]
	path = .vim/bundle/alt-ctags
	url = https://github.com/pbrisbin/vim-alt-ctags.git
[submodule ".vim/bundle/vim-lost"]
	path = .vim/bundle/vim-lost
	url = git://github.com/frioux/vim-lost
[submodule ".u/jlavin/.vim/bundle/vim-lost"]
	path = .u/jlavin/.vim/bundle/vim-lost
	url = git://github.com/frioux/vim-lost
