[submodule ".vim/bundle/vim-perl"]
	path = .vim/bundle/vim-perl
	url = https://github.com/vim-perl/vim-perl.git
	ignore = dirty
[submodule ".vim/bundle/alt-ctags"]
	path = .vim/bundle/alt-ctags
	url = https://github.com/pbrisbin/vim-alt-ctags.git
[submodule ".vim/bundle/vim-lost"]
	path = .vim/bundle/vim-lost
	url = git://github.com/frioux/vim-lost
[submodule ".vim/bundle/ale"]
	path = .vim/bundle/ale
	url = https://github.com/dense-analysis/ale
[submodule ".vim/bundle/vim-gitgutter"]
	path = .vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = https://github.com/airblade/vim-gitgutter.git
[submodule ".vim/bundle/vim-terraform"]
	path = .vim/bundle/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
