# https://ghostty.org/docs/config/reference
# reload via cmd+shift+,
#cursor-style = "block_hollow"
#cursor-color = "A93F94"
cursor-invert-fg-bg = true
link-url = true
macos-titlebar-style = hidden
macos-window-buttons = hidden
minimum-contrast = 4
theme = "GitHub Dark High Contrast"
#theme = "Nvim Dark"
window-height = 96
window-width = 177
